body,html{
	height:100%;
	padding:0px;
	margin:0px;
	
}

#paisaje{
	position: fixed;
	height: 100%;
	width:100%;
	background: url(../img/espacio.jpg) no-repeat center center fixed;
	background-size: cover;
	z-index: -2;

}	

#nave{
	text-align:center;
	position:fixed;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	z-index: 1;

}


.a{
	width:100%;
	height:90px;
	overflow:hidden;
	position:fixed;
	top:0px;
}

.b{
	width:100%;
	height:100%;
	overflow:hidden;
	position: fixed;
}

.c{
	background-color: yellow;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
	z-index:1
	
}

.luna{
	position:fixed;
	bottom:0px;
	height:26%;
	width:100%;
	background-image: url(../img/luna.png);
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: 50% 0%;
	z-index: -1;
}

#nave{
	text-align:center;
	position:fixed;
	width:100%;
	height:20%;
	z-index: 1;
	background-size: 47%;
}


#menu{
	list-style-type: none;
	margin-top: 0px;
	padding: 0px;

}

#play:hover {
	background-color: grey;
}
#play {
	position:relative;
	display: none;
	float: right;
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 5%;
	width: 0px;
	height: 0px;
	background-image: url(../img/play.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
	z-index: 1;
}

#reset:hover {
	background-color: grey;
}
#reset{
	position:relative;
	display: none;
	float: right;
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 5%;
	width: 0px;
	height: 0px;
	background-image: url(../img/reset.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
	z-index: 1;
}

#opciones:hover {
	background-color: grey;
}
#opciones {
	position:relative;
	display: none;
	float: right;
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 5%;
	width: 60px;
	height: 60px;
	background-image: url(../img/opciones.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
	z-index: 1;
}

#cpanel{
	list-style-type: none;
	margin-top: 0px;
	padding: 0px;
	position: fixed;
}

#speed{
	position: relative;
	float: left;
	margin: 10px;
	margin-top: 5%;
	width: 50px;
	height: 130px;
	border-style: solid;
	background-color: #FFFFFF;
	background-image: url(../img/speed.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -35% 0%;
	z-index: 1;
	line-height: 181px;
	font-size: 128%;
	text-align: center;
}

#fuel{
	position: relative;
	float: left;
	margin: 10px;
	margin-top: 5%;
	width: 50px;
	height: 130px;
	border-style: solid;
	background-image: url(../img/fuel.png);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -35% 0%;
	z-index: 1;
	line-height: 181px;
	font-size: 128%;
	text-align: center;
}

#altura{
	position: relative;
	float: left;
	margin: 10px;
	margin-top: 5%;
	width: 50px;
	height: 130px;
	border-style: solid;
	background-image: url(../img/altura.png);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -35% 0%;
	z-index: 1;
	font-size: 128%;
	line-height: 181px;
	text-align: center;
}
#showm{
	position: relative;
	display: inline-block;
	float: right;
	background-color: grey;
	margin: 10px;
	margin-top: 1%;
	text-align: center;
	font-size: 110%;
	width: 50px;
	height: 50px;
	background-image: url(../img/desplegable.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
	z-index: 5;
}


#showm:hover{
	background-color: grey;
}



#hidem{
	border-style: solid;
	border-color: #848484;
	display: none;
	background-color: #FFFFFF;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center; 
	line-height: 65px;
	font-size: 130%;
	width: 90%;
	height: 70px;
	pointer-events: auto;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: 2% 50%;
}

#victoria{
	display: none;
	position: absolute;
	text-align: center;
	border-style: solid;
	background-color: #FFFFFF;
	width: 80%;
	left: 10%;
	top: 10%;
	z-index: 3;
}

#derrota{
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	text-align: center;
	border-style: solid;
	width: 80%;
	left: 10%;
	top: 10%;
	z-index: 3;
}

#reintentar{
	border-style: solid;
	border-color: #848484;
	display: inline-block;
	background-color: #6E6E6E;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center;
	line-height: 30px;
	font-size: 130%;
	width: 45%;
	height: 25px;
	pointer-events: auto;
	z-index: 4;
}

#jugar_de_nuevo{
	border-style: solid;
	border-color: #848484;
	display: inline-block;
	background-color: #6E6E6E;
	color: black;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center;
	line-height: 30px;
	font-size: 130%;
	width: 57%;
	height: 25px;
	pointer-events: auto;
}

#boton:hover {
	background-color: #BBB5AC;
    color: white;
}

#boton {
	border-style: solid;
	display: inline-block;
	float: right;
	background-color: grey;
	margin: 10px;
	margin-top: 1%;
	text-align: center;
	font-size: 0%;
	width: 50px;
	height: 50px;
	position:relative;
	z-index: 7;
}

.cerrar{
	display: none;
}

#ajustes{
	display: none;
}

a:hover {color: white}
